{% load static %}
<!doctype html>
<html>
    <head>
        <title>Eskola</title>
    </head>
    <body>

        <eskola></eskola>

        <script src="{% static 'eskola.tag' %}" type="riot/tag"></script>
        <script src="{% static 'riot/riot+compiler.min.js' %}"></script>
        <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'js/lawnchair-0.6.1.min.js' %}"></script>

        <script>
            riot.mount('eskola')
        </script>

    </body>
</html>
